speedrun @ git+https://github.com/inferno-pytorch/speedrun.git@p2p_risk_prediction#egg=speedrun
ctt @ git+https://github.com/nasimrahaman/ctt@master#egg=ctt
addict
dill
joblib
pyzmq
scipy
numpy
simpy
matplotlib
ipython
click
orderedset
networkx
tqdm
seaborn
