# This file is splitted in setup.py to fill the install_requires field
# Format when using a git endpoint should be:
#  package_name @ git+https://url.git@pathspec#egg=package_name
addict
dill
joblib
pyzmq
scipy
numpy
simpy
matplotlib
ipython
click
orderedset
networkx==2.4
tqdm
seaborn
pandas >= 1.1.0
pyyaml
pytest
pytest-timeout
pytest-cov==2.8.1
pytest-subtests==0.3.1
hydra-core==0.11
omegaconf==1.4.1
cached_property
requests
recommonmark
sphinx
h5py
weasyprint
xdelta3
runstats
