# This file is splitted in setup.py to fill the install_requires field
# Format when using a git endpoint should be:
#  package_name @ git+https://url.git@pathspec#egg=package_name
addict
dill
joblib
pyzmq
scipy
numpy
simpy
matplotlib
ipython
click
orderedset
networkx
tqdm
seaborn
pyyaml
pytest-cov==2.8.1
omegaconf
hydra-core
cached_property
requests
