GLOBAL_MOBILITY_SCALING_FACTOR: 1.0 # Mobility reduction factor

# NOISE IN SIM PARAMETERS
LOCATION_TECH: "gps" # &location-tech

# CITY PARAMETERS
MIN_AVG_HOUSE_AGE: 15

# n - people per location
LOCATION_DISTRIBUTION:
  {
    "store":
      {
        "n": 500,
        "area": 0.15,
        "social_contact_factor": 1,
        "surface_prob": [0.1, 0.1, 0.3, 0.2, 0.3],
        "rnd_capacity": [30, 100],
      },
    "workplace":
      {
        "n": 50,
        "area": 0.2,
        "social_contact_factor": 1,
        "surface_prob": [0.1, 0.1, 0.3, 0.2, 0.3],
        "rnd_capacity": null,
      },
    "school":
      {
        "n": 500,
        "area": 0.05,
        "social_contact_factor": 1,
        "surface_prob": [0.1, 0.1, 0.3, 0.2, 0.3],
        "rnd_capacity": null,
      },
    "senior_residency":
      {
        "n": 500,
        "area": 0.05,
        "social_contact_factor": 3,
        "surface_prob": [0.1, 0.1, 0.3, 0.2, 0.3],
        "rnd_capacity": null,
      },
    "household":
      {
        "n": 2.6,
        "area": 0.30,
        "social_contact_factor": 2,
        "surface_prob": [0.1, 0.1, 0.3, 0.2, 0.3],
        "rnd_capacity": null,
      },
    "park":
      {
        "n": 250,
        "area": 0.05,
        "social_contact_factor": 0.1,
        "surface_prob": [0.8, 0.05, 0.05, 0.05, 0.05],
        "rnd_capacity": null,
      },
    "misc":
      {
        "n": 40,
        "area": 0.15,
        "social_contact_factor": 1,
        "surface_prob": [0.1, 0.1, 0.3, 0.2, 0.3],
        "rnd_capacity": [30, 50],
      },
    "hospital":
      {
        "n": 1000,
        "area": 0.05,
        "social_contact_factor": 2,
        "surface_prob": [0.0, 0.0, 0.0, 0.0, 1.0],
        "rnd_capacity": [2, 5],
      },
  }

# house_size: 1 2 3 4 5
OTHERS_WORKPLACE_CHOICE: [1.0, 0.0, 0.0]

# The group age proportion (p) are taken from Statistics Canada
# ref: https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=1710000501
# ref: https://www12.statcan.gc.ca/census-recensement/2011/as-sa/98-312-x/2011003/fig/fig3_4-4-eng.cfm
# TODO: senior_residency should be adjusted w.r.t. to the actual number of people per bin to combine them.
HOUSE_SIZE_PREFERENCE: [0.282, 0.344, 0.152, 0.138, 0.084]
HUMAN_DISTRIBUTION: # this is parsed into tuple keys in utils.py/parse_configuration e.g. "0-10" => (0, 10)
  {
    "1-10":
      {
        "p": 0.106,
        "residence_preference":
          {
            "house_size": [0.0, 0.2, 0.25, 0.35, 0.2],
            "senior_residency": 0.0,
          },
        "profession_profile":
          {
            "healthcare": 0.0, "school": 1.0, "others": 0.0, "retired": 0.0
          },
      },
    "11-20":
      {
        "p": 0.110,
        "residence_preference":
          {
            "house_size": [0.00, 0.2, 0.55, 0.15, 0.1],
            "senior_residency": 0.0,
          },
        "profession_profile":
          {
            "healthcare": 0.0, "school": 0.85, "others": 0.15, "retired": 0.0
          },
      },
    "21-30":
      {
        "p": 0.136,
        "residence_preference":
          {
            "house_size": [0.2, 0.3, 0.3, 0.1, 0.1],
            "senior_residency": 0.0,
          },
        "profession_profile":
          {
            "healthcare": 0.06, "school": 0.02, "others": 0.92, "retired": 0.0
          },
      },
    "31-40":
      {
        "p": 0.138,
        "residence_preference":
          {
            "house_size": [0.1, 0.3, 0.30, 0.10, 0.2],
            "senior_residency": 0.0,
          },
        "profession_profile":
          {
            "healthcare": 0.06, "school": 0.02, "others": 0.92, "retired": 0.0
          },
      },
    "41-50":
      {
        "p": 0.128,
        "residence_preference":
          {
            "house_size": [0.1, 0.4, 0.2, 0.2, 0.1],
            "senior_residency": 0.0,
          },
        "profession_profile":
          {
            "healthcare": 0.06, "school": 0.02, "others": 0.92, "retired": 0.0
          },
      },
    "51-60":
      {
        "p": 0.140,
        "residence_preference":
          {
            "house_size": [0.2, 0.6, 0.1, 0.05, 0.05],
            "senior_residency": 0.0,
          },
        "profession_profile":
          {
            "healthcare": 0.06, "school": 0.02, "others": 0.92, "retired": 0.0
          },
      },
    "61-70":
      {
        "p": 0.123,
        "residence_preference":
          {
            "house_size": [0.25, 0.6, 0.05, 0.05, 0.05],
            "senior_residency": 0.009,
          },
        "profession_profile":
          {
            "healthcare": 0.01, "school": 0.01, "others": 0.68, "retired": 0.3
          },
      },
    "71-80":
      {
        "p": 0.076,
        "residence_preference":
          {
            "house_size": [0.1, 0.6, 0.15, 0.05, 0.1],
            "senior_residency": 0.07,
          },
        "profession_profile":
          {
            "healthcare": 0.01, "school": 0.0, "others": 0.04, "retired": 0.95
          },
      },
    "81-101":
      {
        "p": 0.043,
        "residence_preference":
          {
            "house_size": [0.15, 0.5, 0.1, 0.15, 0.1],
            "senior_residency": 0.4,
          },
        "profession_profile":
          {
            "healthcare": 0.0, "school": 0.0, "others": 0.0, "retired": 1.0
          },
      },
  }

# Ref: Mossong, Joël, Niel Hens, Mark Jit, Philippe Beutels, Kari Auranen, Rafael Mikolajczyk, Marco Massari et al.
#    "Social contacts and mixing patterns relevant to the spread of infectious diseases." PLoS medicine 5, no. 3 (2008).
#    Link: https://journals.plos.org/plosmedicine/article/file?type=printable&id=10.1371/journal.pmed.0050074
#    Notes: the following matrix is generated with a preprocessing step implemented in `other/compute_contact_matrix.py`
AGE_GROUP_CONTACT_AVG:
  {
      'age_groups': [
          '(0, 4)', '(5, 9)', '(10, 14)', '(15, 19)', '(20, 24)', '(25, 29)', '(30, 34)', '(35, 39)', '(40, 44)',
          '(45, 49)', '(50, 54)', '(55, 59)', '(60, 64)', '(65, 69)', '(70, 100)'
      ],
      'contact_avg': [
      [1.920,0.800,0.445,0.285,0.455,0.760,0.820,0.925,0.395,0.255,0.345,0.255,0.230,0.175,0.135],
      [0.800,6.640,1.200,0.535,0.455,0.705,1.010,1.185,0.950,0.350,0.340,0.215,0.375,0.295,0.175],
      [0.445,1.200,6.850,1.275,0.245,0.375,0.550,1.010,1.070,0.630,0.360,0.345,0.230,0.265,0.270],
      [0.285,0.535,1.275,6.710,1.255,0.735,0.460,0.825,0.895,0.965,0.555,0.315,0.220,0.340,0.365],
      [0.455,0.455,0.245,1.255,2.590,1.390,0.815,0.695,0.750,0.920,0.660,0.500,0.360,0.280,0.285],
      [0.760,0.705,0.375,0.735,1.390,1.830,1.080,0.830,0.810,0.890,0.865,0.700,0.505,0.480,0.250],
      [0.820,1.010,0.550,0.460,0.815,1.080,1.670,1.210,0.920,0.740,0.760,0.645,0.580,0.380,0.210],
      [0.925,1.185,1.010,0.825,0.695,0.830,1.210,1.500,1.275,0.945,0.720,0.610,0.705,0.630,0.305],
      [0.395,0.950,1.070,0.895,0.750,0.810,0.920,1.275,1.350,1.295,0.800,0.610,0.705,0.520,0.650],
      [0.255,0.350,0.630,0.965,0.920,0.890,0.740,0.945,1.295,1.870,0.780,0.655,0.580,0.360,0.640],
      [0.345,0.340,0.360,0.555,0.660,0.865,0.760,0.720,0.800,0.780,0.740,0.940,0.500,0.385,0.550],
      [0.255,0.215,0.345,0.315,0.500,0.700,0.645,0.610,0.610,0.655,0.940,1.170,0.815,0.565,0.545],
      [0.230,0.375,0.230,0.220,0.360,0.505,0.580,0.705,0.705,0.580,0.500,0.815,0.650,0.605,0.520],
      [0.175,0.295,0.265,0.340,0.280,0.480,0.380,0.630,0.520,0.360,0.385,0.565,0.605,0.700,0.670],
      [0.135,0.175,0.270,0.365,0.285,0.250,0.210,0.305,0.650,0.640,0.550,0.545,0.520,0.670,1.470]
      ]
  }

# INDIVIDUAL DIFFERENCES PARAMETERS
P_CAREFUL_PERSON: 0.3 # &carefulness
P_TRAVELLED_INTERNATIONALLY_RECENTLY: 0.05

# Source: COVID-19 individual-based model with instantaneous contract tracing (Table 9)
# TODO: link to the document
SMARTPHONE_OWNER_FRACTION_BY_AGE:
  {
    '1-10': 0.0,
    '11-20': 0.90,
    '21-30': 0.96,
    '31-40': 0.95,
    '41-50': 0.91,
    '51-60': 0.81,
    '61-70': 0.64,
    '71-80': 0.41,
    '81-101': 0.27,
  }

# DISEASE PARAMETERS
INFECTION_RADIUS: 200 # cms
INFECTION_DURATION: 15 # minutes

#                   0-9 10-19 20-29  30-39  40-49  50-59 60-69 70-79  80-  # Assuming death rate to be same for 80 and above
P_NEVER_RECOVERS: [0, 0, 0.0001, 0.0001, 0.0004, 0.0018, 0.0059, 0.0176, 0.0728] # &never_recovers
REINFECTION_POSSIBLE: False # [0, 1]

# aerosol    copper      cardboard       steel       plastic
MAX_DAYS_CONTAMINATION: [0.125, 0.333333, 1, 2, 3] # days # https://www.nejm.org/doi/pdf/10.1056/NEJMc2004973?articleTools=true

VIRAL_LOAD_RECOVERY_FACTOR: 3 # higher initial viral load means longer recovery

# INCUBATION PERIOD
# Refer Table 2 (Appendix) in https://www.acpjournals.org/doi/10.7326/M20-0504 for parameters of lognormal fit
INCUBATION_DAYS_GAMMA_SHAPE: 5.807
INCUBATION_DAYS_GAMMA_SCALE: 0.948

# &infectiousness-onset [He 2020 https://www.nature.com/articles/s41591-020-0869-5#ref-CR1] infectiousness peaked at 0.7 days (95% CI, −0.2–2.0 days) before symptom onset (Fig. 1c).
INFECTIOUSNESS_PEAK_AVG: 0.7 # DAYS
INFECTIOUSNESS_PEAK_STD: 0.5
INFECTIOUSNESS_PEAK_CLIP_LOW: 0.01
INFECTIOUSNESS_PEAK_CLIP_HIGH: 2.2

# &infectiousness-onset [He 2020 https://www.nature.com/articles/s41591-020-0869-5#ref-CR1] infectiousness started from 2.3 days (95% CI, 0.8–3.0 days) before symptom onset and peaked at 0.7 days (95% CI, −0.2–2.0 days) before symptom onset (Fig. 1c).
INFECTIOUSNESS_ONSET_DAYS_WRT_SYMPTOM_ONSET_AVG: 2.3
INFECTIOUSNESS_ONSET_DAYS_WRT_SYMPTOM_ONSET_STD: 0.5
INFECTIOUSNESS_ONSET_DAYS_WRT_SYMPTOM_ONSET_CLIP_LOW: 0.5
INFECTIOUSNESS_ONSET_DAYS_WRT_SYMPTOM_ONSET_CLIP_HIGH: 3.3

# Avg plateau duration
# infered from https://www.medrxiv.org/content/10.1101/2020.04.10.20061325v2.full.pdf (Figure 1 & 4).
# 8 is infered from Figure 4 by eye-balling.
PLATEAU_DURATION_MEAN: 4.5
PLATEAU_DURATION_STD: 1
PLATEAU_DURATION_CLIP_LOW: 3.0
PLATEAU_DURATION_CLIP_HIGH: 9.0

# recovery is with respect to incubation days. (no-source) 14 is loosely defined.
RECOVERY_DAYS_AVG: 14
RECOVERY_STD: 1
RECOVERY_CLIP_LOW: 2.5
RECOVERY_CLIP_HIGH: 10

# VIRAL LOAD PEAK
MIN_VIRAL_LOAD_PEAK_HEIGHT: 0.1
MAX_VIRAL_LOAD_PEAK_HEIGHT: 1.0

# VIRAL LOAD PLATEAU
MIN_MULTIPLIER_PLATEAU_HEIGHT: 0.5
MAX_MULTIPLIER_PLATEAU_HEIGHT: 0.8

# FACTORS AFFECTING VIRAL LOAD HEIGHTS
INFLAMMATORY_DISEASE_FACTOR_VIRAL_LOAD_HEIGHT: 0.1
AGE_FACTOR_VIRAL_LOAD_HEIGHT:  0.2

# OTHER CONDITIONS
INFLAMMATORY_CONDITIONS: ["smoker", "diabetes", "heart_disease", "COPD", "immuno-suppressed"]

# ASYMPTOMATIC
BASELINE_P_ASYMPTOMATIC: 0.18 # p-asymptomatic [Mizumoto 2020 https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7078829/] probability of never showing symptoms yet testing positive
MILD_INFECTION_RATIO: 0.48 # &prob_infectious_mild [Luo 2020 https://www.medrxiv.org/content/10.1101/2020.03.24.20042606v1]
ASYMPTOMATIC_INFECTION_RATIO: 0.29 # &prob_infectious_asymp [Luo 2020 https://www.medrxiv.org/content/10.1101/2020.03.24.20042606v1]

# convex combination - if it sums to 1. Unused, because there is no data on it.
INFECTION_DISTANCE_FACTOR: 0.0
INFECTION_DURATION_FACTOR: 0.0

# normalized susceptibility to infection broken down age group
# Bin boundaries are inclusive
# refer Oxford COVID-19 model
# They normalise the fitted attack rate across age groups so that average age has a susceptiblity of 1.0
# UK's average age = 40; Canada's average age = 42. Just taking the normalized susceptiblity from Table 5.
NORMALIZED_SUSCEPTIBILITY_BY_AGE: {
    "1-10": 0.71,
    "11-20": 0.74,
    "21-30": 0.79,
    "31-40": 0.87,
    "41-50": 0.98,
    "51-60": 1.11,
    "61-70": 1.26,
    "71-80": 1.45,
    "81-150": 1.66,
  }

# these numbers are taken for daily_mean_work_interactions from Oxford study (Table 3)
# I_as used in the probability of transmission denotes mean daily interactions
# The report doesn't have a table for I_as so the numbers in Table 3 are used as a proxy
# TODO: check the updated version of the report for these numbers.
# Bin boundaries are inclusive
MEAN_DAILY_INTERACTION_FOR_AGE_GROUP: {
  "1-10": 10,
  "11-20": 10,
  "21-30": 7,
  "31-40": 7,
  "41-50": 7,
  "51-60": 7,
  "61-70": 7,
  "71-80": 3,
  "81-150": 3,

  }

# TESTING
# capacity is proportion of population tested per day
TEST_TYPES: { "lab": {
        "capacity": 0.01,  # ! /!\ This is now a proportion of population, not an absolute (int) value
        "time_to_result": {
          "in-patient": 0.33, # days
          "out-patient": 2.0, # verbal communication with H&A (find-source)
          },
        "P_FALSE_NEGATIVE": {
            "days_since_exposure": [1, 4, 5, 8, 9, 21],
            "rate": [1, 0.67, 0.38, 0.2, 0.21, 0.66],
            }, # https://www.acc.org/latest-in-cardiology/journal-scans/2020/05/18/13/42/variation-in-false-negative-rate-of-reverse?utm_source=journalscan&utm_medium=email_newsletter&utm_campaign=journalscan&utm_content=20200521
        "P_FALSE_POSITIVE": 0.00, # verbal communication with H&A (find-source)
        "preference": 1, # TODO: preference might depend on symptoms
      } }

P_TEST_MODERATE: 0.4
P_TEST_MILD: 0.1
P_TEST_SEVERE: 1.0
GET_TESTED_SYMPTOMS_CHECKED_IN_HOSPITAL: ["mild", "moderate", "severe", "fever", "chills", "gastro", "diarrhea", "cough", "fatigue", "trouble_breathing", "loss_of_taste", "light_trouble_breathing", "moderate_trouble_breathing", "heavy_trouble_breathing" ]
GET_TESTED_SYMPTOMS_CHECKED_BY_SELF: ["cough", "fever", "trouble_breathing", "chills", "loss_of_taste", ""]
TEST_REPORT_PROB: 0.8  # the probability that a user with the app will report their test result

# SEASONAL ALLERGIES
# P_HAS_ALLERGIES_TODAY: 0.005 # likelihood to start allergy any day (2-3 times per year) # produces too many allergies (experimental)
P_HAS_ALLERGIES_TODAY: 0.005

# OTHER TRANSMISSIBLE DISEASES
# P_FLU_TODAY: 0.003 # # likelihood to start flu any day (1 per year)

# https://www.webmd.com/cold-and-flu/flu-statistics
# Flu season is December to February. Assuming simulation runs form March, we are switching off Flu
P_FLU_TODAY: 0.000
FLU_CONTAGIOUSNESS: 0.000
AVG_FLU_DURATION: 5

# likelihood to start cold any day (2-3 times per year) # https://www.cdc.gov/features/rhinoviruses/index.html
# Section on Modelling and interventions - https://github.com/BDI-pathogens/covid-19_instant_tracing/blob/master/Report%20-%20Effective%20Configurations%20of%20a%20Digital%20Contact%20Tracing%20App.pdf
# non-Covid19 symtpoms via influenza etc. is 0.002%. This seems like a typo. assuming 0.002 here.
P_COLD_TODAY: 0.002
COLD_CONTAGIOUSNESS: 0.000 # likelihood of transmitting at an encounter (no-source)

# LIFESTYLE PARAMETERS
RHO: 0.40
GAMMA: 0.1

## SHOP
AVG_SHOP_TIME_MINUTES: 30 # @param
SCALE_SHOP_TIME_MINUTES: 15
AVG_SCALE_SHOP_TIME_MINUTES: 10
SCALE_SCALE_SHOP_TIME_MINUTES: 5

AVG_MAX_NUM_SHOP_PER_WEEK: 5
SCALE_MAX_NUM_SHOP_PER_WEEK: 1

AVG_NUM_SHOPPING_DAYS: 3
SCALE_NUM_SHOPPING_DAYS: 1
AVG_NUM_SHOPPING_HOURS: 3
SCALE_NUM_SHOPPING_HOURS: 1
MAX_STORE_QUEUE_LENGTH: 10

## WORK
AVG_WORKING_MINUTES: 480 # 8 * 60
SCALE_WORKING_MINUTES: 60 # 1 * 60
AVG_SCALE_WORKING_MINUTES: 120 # 2 * 60
SCALE_SCALE_WORKING_MINUTES: 60 # 1 * 60

## EXERCISE
AVG_EXERCISE_MINUTES: 60
SCALE_EXERCISE_MINUTES: 15
AVG_SCALE_EXERCISE_MINUTES: 15
SCALE_SCALE_EXERCISE_MINUTES: 5

AVG_MAX_NUM_EXERCISE_PER_WEEK: 5
SCALE_MAX_NUM_EXERCISE_PER_WEEK: 2
AVG_NUM_EXERCISE_DAYS: 3
SCALE_NUM_EXERCISE_DAYS: 1
AVG_NUM_EXERCISE_HOURS: 3
SCALE_NUM_EXERCISE_HOURS: 1

## MISC
AVG_MISC_MINUTES: 60
SCALE_MISC_MINUTES: 15
AVG_SCALE_MISC_MINUTES: 15
SCALE_SCALE_MISC_MINUTES: 5
AVG_MAX_NUM_MISC_PER_WEEK: 5
SCALE_MAX_NUM_MISC_PER_WEEK: 2
MAX_MISC_QUEUE_LENGTH: 10

# ENCOUNTER CONDITIONS
MAX_MESSAGE_PASSING_DISTANCE: 200 # high-risk contacts are within 200cm for more than 5 minutes
MIN_MESSAGE_PASSING_DURATION: 15

# DISTANCE_ENCOUNTER PARAMETERS cms
MIN_DIST_ENCOUNTER: 0
MAX_DIST_ENCOUNTER: 300 # cms

# KNOBS
CONTAGION_KNOB: 1
ENVIRONMENTAL_INFECTION_KNOB: 0.0017

## INTERVENTIONS
# WASH HANDS
HYGIENE_EFFICACY_FACTOR: 0.5 # used in reduction of probability of transmission (no-source)

# RISK RECOMMENDATIONS
DEFAULT_DISTANCE: 100 # cms

# TRACKER
EFFECTIVE_R_WINDOW: 10 # days
KEEP_FULL_OBJ_COPIES: False

# MASK
MASK_EFFICACY_NORMIE: 0.32
MASK_EFFICACY_HEALTHWORKER: 0.98
BASELINE_P_MASK: 0.5
MASKS_SUPPLY: 1000000
MASK_EFFICACY_FACTOR: 0.4 # used in reduction of probability of transmission (no-source)

# naive tracing
RISK_TRANSMISSION_PROBA: 0.03
BASELINE_RISK_VALUE: 0.01

# manual tracing
MANUAL_TRACING_P_CONTACT: 0.50
MANUAL_TRACING_DELAY_AVG: 3 # days
MANUAL_TRACING_DELAY_STD: 0.5 # days

# bundled recommendations
BUNDLED_INTERVENTION_RECOMMENDATION_LEVEL: 0

# Console logging (Condition with COLLECT_LOGS)
LOGGING_LEVEL: "WARNING"

# Infectiousness
INFECTIOUSNESS_NORMALIZATION_CONST: 1.45
IMMUNOCOMPROMISED_SEVERITY_MULTIPLIER_ADDITION: 0.2
COUGH_SEVERITY_MULTIPLIER_ADDITION: 0.25

# Biological sex
P_FEMALE: 0.45
P_MALE: 0.45
